<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackwaterpragmatic.joggingtracker.mybatis.mapper.UserMapper">

	<select id="list" resultType="User">
		select id, login, bitwiseRole, active
		from Users
		order by login
	</select>

	<select id="fetch" resultType="User">
		select id, login, bitwiseRole, active
		from Users
		where id = #{userId, jdbcType=INTEGER}
	</select>

	<select id="fetchStoredCredentials" resultType="Credentials">
		select id as userId, login, password
		from Users
		where login = #{login, jdbcType=VARCHAR}
		and active = true
	</select>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into Users (login, bitwiseRole, password, active) 
		values (
			#{login, jdbcType=VARCHAR},
			#{bitwiseRole, jdbcType=INTEGER},
			#{password, jdbcType=VARCHAR},
			#{active, jdbcType=BOOLEAN}
		)
	</insert>

	<update id="update">
		update Users set
			login = #{user.login, jdbcType=VARCHAR}
			<if test="isUserManager">
				, bitwiseRole = #{user.bitwiseRole, jdbcType=INTEGER}
				, active = #{user.active, jdbcType=INTEGER}
			</if>
		where
			id = #{userId, jdbcType=INTEGER}
	</update>

	<update id="updatePassword">
		update Users set
			password = #{password, jdbcType=VARCHAR}
		where
			id = #{userId, jdbcType=INTEGER}
	</update>

	<delete id="delete">
		delete
		from Users
		where
			id = #{id, jdbcType=INTEGER}
	</delete>

	<update id="activate">
		update Users set
			active = true
		where
			id = #{userId, jdbcType=INTEGER}
	</update>

	<update id="deactivate">
		update Users set
			active = false
		where
			id = #{userId, jdbcType=INTEGER}
	</update>

</mapper>
